{% extends "Stats/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Equipos</title>
</head>
<body>
{% block content%}

<div class="accordion" id="accordionExample">
  {% for key,value in teams.items %}
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{key.name}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{x}}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="card card p-5" style="width: 100%">
  <table class="table table-bordered table-striped data-table1" style="min-width: 100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>abb</th>
        <th>league</th>
        <th>division</th>
        <th data-type="date" data-format="YYYY/MM/DD">Start Date</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
    {% for x in teams %}
      <tr>
        <td><a href="{% url 'Stats:teamdetails' x.id %}">{{x.name}}</a> </td>
        <td>{{x.abbreviation}}</td>
        <td>{{x.league.name}}</td>
        <td>{{x.division.name}}</td>
        <td>{{x.firstYearOfPlay}}</td>
        <td>{{x.id}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



{% endblock %}
</body>
</html>