{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Portal web - aprenderaprogramar.com </title> <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>
<body>
<div class="container">
<div class="row"  style="background-color: #ccb;">
    <div class="col">
        <h5 class="text-primary">Ultimo precio</h5>
        <a class="text-success">{{precios|last}}</a>
    </div>
    <div class="col">
        <h5 class="text-primary">BTC Balance</h5>
        <a class="text-success">{{btc_balance}}</a>
    </div>
    <div class="col">
        <h5 class="text-primary">USD Balance</h5>
        <a class="text-success">{{usd_balance}}</a>
    </div>
     <div class="col">
        <h5 class="text-primary">Total Balance</h5>
        <a class="text-success">{{total_balance}}</a>
    </div>
    <div class="col">
        <h5 class="text-primary">Total BTC</h5>
        <a class="text-success">{{btc_satoshis}}</a>
    </div>
</div>
    <div class="row">
        otro
    </div>
</div>
<div class="vr"></div>




<canvas class=""  id="graph"></canvas>

<script>

var x = '{{ precios | safe }}';
var t = '{{ tiempo  | escapejs }}';
var pc = '{{ list_prec_comp | safe  }}';
var pv = '{{ list_prec_venta | safe  }}';
    precio_compra    = JSON.parse(pc);
    precio_venta     = JSON.parse(pv);
    precios = JSON.parse(x);
console.log(pv)

var btcbalance_inc = '{{ btc_balance_inc | safe  }}';
var btcbalance_dec = '{{btc_to_buy | safe }}'


    btcbal     = JSON.parse(btcbalance_inc);
    btcdec = JSON.parse(btcbalance_dec)
var replace= t.replace(/[\[\]]/g,'');
var tiempo = replace.split(',');



const labels = tiempo;


const dataset1 = {
    label: "BUY Price",
    data: precio_compra,
    borderColor:  'rgba(69, 248, 84, 0.8)',//verde
    fill: false,
    tension: 0.1
};
const dataset2 = {
    label: "SPOT",
    data: precios,
    borderColor: 'rgba(69, 140, 248, 0.8)',//azul
    fill: false,
    tension: 0.1
};
const dataset3 = {
    label: "SELL Price",
    data: precio_venta,
    borderColor: 'rgba(248, 37, 37, 0.8)',//rojo
    fill: false,
    tension: 0.1
};



const graph = document.querySelector("#graph");

const data = {
    labels: labels,
    datasets: [dataset1,dataset2,dataset3]
};

const config = {
    type: 'line',
    data: data,
};

new Chart(graph, config);
 </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>setInterval("location.reload()",10000);</script>

</div>
</body>
</html>